version: '3.4'

services:
  roomservicemanagement.api:
    image: ${DOCKER_REGISTRY-}roomservicemanagement
    build:
      context: .
      dockerfile: RoomServiceManagement.Api/Dockerfile
  ravendb:
    container_name: roomservicemanagementravendb
    image: ravendb/ravendb
    ports:
      - 8080:8080
    environment:

      - RAVEN_Security_UnsecuredAccessAllowed=PublicNetwork
      - RAVEN_ARGS="--Setup.Mode=None"
