version: '3.4'

services:
  roomservicemanagement.api:
    depends_on:
      - ravendb
      - rabbitmq
      - eventstore
    env_file: netcoreapi.env
    image: ${DOCKER_REGISTRY-}roomservicemanagement
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
      - ASPNETCORE_HTTPS_PORT=44386
    ports:
      - "53838:80"
      - "44386:443"
    #ports
      #- "5001:80"
      #- "5000:443"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets/:/root/.microsoft/usersecrets     
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https
    build:
      context: .
      dockerfile: RoomServiceManagement.Api/Dockerfile

  ravendb: 
    container_name: roomservicemanagementravendb
    image: ravendb/ravendb
    ports:
      - 8080:8080
    environment:
      - RAVEN_Security_UnsecuredAccessAllowed=PublicNetwork
      - RAVEN_RunInMemory=true
      - RAVEN_License.Eula.Accepted=true
      - RAVEN_Setup_Mode=None

  rabbitmq:
    image: rabbitmq:3.8-rc-management
    ports:
      - "5672:5672"
      - "15672:15672"
    container_name: rabbit
    hostname: localhost
    environment:
      - RABBITMQ_DEFAULT_USER=rabbitmquser
      - RABBITMQ_DEFAULT_PASS=some_password
  eventstore:
    container_name: eventstore
    image: eventstore/eventstore
    ports:
      - 2113:2113
      - 1113:1113
    environment:
      - EVENTSTORE_EXT_HTTP_PORT=2113
      - EVENTSTORE_EXT_TCP_PORT=1113
      - EVENTSTORE_MEM_DB=True